ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  width: calc(25% - 51px);
  margin: 15px;
  padding: 10px;
  min-width: 350px;
}

img {
  width: 200px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
